.navbar {
  background-color: #2b2f38;
  padding: 10px 5%; 
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.scrolled {
  background-color: #2b2f38;
}

.navContent {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 60px;
  width: 100%; 
}

.logo {
  flex: 0 0 33.33%; 
  display: flex;
  justify-content: center;
}

.navMenu {
  flex: 0 0 66.67%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between; 
  white-space: nowrap;
}

.navMenu ul {
  display: flex;
  gap: 50%;
}

.navMenu li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s; 
}

.subMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.navMenu li:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

.navMenu li.open .subMenu {
  display: block; 
  font-size: 0.8rem;
}

.subMenu li {
  padding: 5px 0;
  border-bottom: none; 
  text-align: center; 
}

.subMenu li:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

.navMenu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navMenu a:hover {
  color: #fb993e;
}

.menuToggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  display: none; /* Hidden by default, only shown on mobile */
}

@media (max-width: 1500px) {
  .navMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background-color: #2b2f38;
    flex-direction: column; 
    padding: 20px;
    z-index: 9999;
  }

  .navMenu.open {
    display: flex;
    padding-top: 20%;
    background-color: rgba(43, 47, 56, 0.9); 
  }

  .navMenu ul {
    flex-direction: column;
    gap: 50px;
  }

  .navMenu li {
    list-style: none;
    padding: 10px 0;
    transition: background-color 0.3s; 
  }
  
  .navMenu li:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }

  .menuToggle {
    display: block;
    font-size: 1rem;
  }

  .logo {
    width: 150px;
    font-size: 1rem;
  }

  .navContent{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 150px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 999; 
  }
}

@media (max-width: 768px) {
  .navMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background-color: #2b2f38;
    flex-direction: column; 
    padding: 20px;
    z-index: 9999;
  }

  .navMenu.open {
    display: flex;
    padding-top: 20%;
    background-color: rgba(43, 47, 56, 0.9); 
  }

  .navMenu ul {
    flex-direction: column;
    gap: 50px;
  }

  .navMenu li {
    list-style: none;
    padding: 10px 0;
    transition: background-color 0.3s; 
  }
  
  .navMenu li:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }

  .menuToggle {
    display: block;
    font-size: 1rem;
  }

  .logo {
    width: 150px;
    font-size: 1rem;
  }

  .navContent{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    margin-left: 150px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 999; 
  }
}