.top-presentation {
  background-color: white;
  background-image: url("/img/programmer_downtow_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 1200px; */
  position: static;
  width: 100%;
  height: 130vh;
}
.presentation {
  position: relative;
}
.top-presentation h1 {
  color: white;
  font-size: 50px;
  position: relative;
  top: 220px;
  left: 100px;
}
#top-paragrafer {
  display: block;
  background-color: white;
  position: relative;
  top: 600px;
  height: 530px;
  border-radius: 60px 60px 0 0;
  text-align: center;
}
#top-paragrafer p {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 33%;
  right: 33%;
  display: inline-block;
}
