.top-presentation {
  background-color: white;
  background-image: url("/img/programmer_downtow_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 130vh;
  position: relative;
  z-index: 0;
}

.top-presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.presentation {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.top-presentation h1 {
  color: #fff;
  font-size: 50px;
  margin: 0;
  padding: 0 10px;
  /* text-shadow: 1.5px 1.5px black; */
}

#top-paragrafer {
  display: block;
  background-color: white;
  position: relative;
  top: 600px;
  height: 530px;
  border-radius: 60px 60px 0 0;
  text-align: center;
}

#top-paragrafer p {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 33%;
  right: 33%;
  display: inline-block;
}

@media (max-width: 1200px) {


  /* .top-presentation {
    height: 145vh;
    background-size: contain;
    width: 100vw;
    position: relative;
  } */

  .presentation {
    position: absolute;
    left: 12.5%;
    bottom: 10%;
    
  }

  .top-presentation {
    height: 160vh;
    background-size: cover;
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-presentation h1 {
    font-size: 2rem;
    text-shadow: 1px 1px black;
  }

  .presentation {
    height: 5vh;
    position: unset;
    width: 90%;
  }

}


@media (max-width: 700px) {
  .top-presentation {
    height: 35vh;
  }
  .top-presentation h1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {

  .presentation {
    top: 25%
  }

  .top-presentation h1 {
    font-size: 1rem;
    padding: 0 5px;
  }
}