.topSectionCt {
  background-image: url("/img/wall_blue.png");
  /* width: 100vw; */
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundCt {
  background-color: #2b2f38;
  /* width: 100vw; */
  min-height: 50vh;
  color: #fff;
  padding: 10vh;
}

.backgroundCt h1 {
  font-size: 3em;
}

.options .p-dropdown-item {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .contactDiv {
    margin-bottom: 1% !important;
  }
  .contact {
    font-size: 2rem !important;
  }
}
