@import "primeicons/primeicons.css";
@import "primereact/resources/themes/md-dark-indigo/theme.css";

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.content-wrapper {
  min-height: calc(100vh - 100px);
  position: relative;
  z-index: 1;
}