section.generators {
    min-height: 100vh;
    background-color: #2B2F38;
    padding-top: 10vh;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
}

.generators-container {
    padding: 2%;
}

.generator-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}