@media (max-width: 768px) {

    .about-section{
        height: 120vh !important;
    }

    .title{
        font-size: 1.5rem !important;

    }
    .description{
        font-size: 0.9rem !important;
    }
}